# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Large datasets
dataset/

# Optional outputs
outputs/*.zip